# various IDE temp directories etc.
target/
classes/
checkouts/
/logs/
.lsp/
out/
bin/
build/
.mvn/wrapper/maven-wrapper.jar
node_modules/

# JetBrains IDE metadata
*.iml
.idea/

# Allow all and any scratch files to exist in project root
scratch.*

# macOS meta files
.DS_Store

# LocalStack's volume directory
volume/

dist/
/test-results/
/playwright-report/
/playwright/.cache/
coverage
.scannerwork
sonar-report.xml
