.report-container {
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}

.report-stats {
  margin-top: 2rem;
  display: flex;

  .counter {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    padding: 10px 16px;
  }

  .counter--ALL {
    background: var(--neutral-50, #F6F6F6);
  }

  .counter--SUCCESS {
    color: #2da44e;
  }

  .counter--CRITICAL {
    color: var(--danger-300, #B40000);
  }

  .counter--ERROR {
    color: var(--danger-300, #B40000);
  }

  .counter--WARNING {
    color: var(--danger-200, #E55636);
  }

  .total {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    align-self: center;
  }

  .name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-self: center;
  }
}

.packages-container {
  h5 {
    margin-bottom: 1.5rem;
  }

  .intro {
    margin-bottom: 2rem;
  }
}
