form {
  width: 33rem;
}

.input-wrapper {
  margin-bottom: 1.75rem;
}

.format, .etag {
  width: 16.5rem;
}

.form-section {
  padding-top: 1.5rem
}

.form-section h5 {
  padding-bottom: 1.25rem;
}

h3 {
  padding-bottom: 0.5rem;
}
