.pagination-summary {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.page-panel {
  text-align: center;
  margin: 1.5rem;
  margin-top: 1rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  word-wrap: break-word;
}

.page-panel-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  color: #1777f8;
  margin: 1.5rem 0.85rem;

  svg {
    margin: 1.5rem 0.1rem;
    color: black;
  }
}

.page-panel-item:hover {
  color: #1777f8;
  filter: brightness(1.35);

  svg {
    color: #1777f8;
  }
}

.page--selected {
  color: black;
  font-weight: 700;
}
