.entry-summary {
  display: table;
  width: 100%;
  border-spacing: 0 1em;
}

header {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.row {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.entry-summary > * {
  display: table-row;
}

.entry-summary .col {
  display: table-cell;
  padding-bottom: 18px;
}

header .col {
  border-bottom: 1px solid;
}
