.entry-summary {
  display: table;
  width: 100%;
  //border-spacing: 0 1rem;
}

.summary-header {
  display: table-row;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.summary-header .col {
  border-bottom: 1px solid;
  padding-top: 0;
}

.summary-row .col {
  padding-top: 18px;
}

.summary-row {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.entry-summary > * {
  display: table-row;
}

.entry-summary .col {
  display: table-cell;
  padding-bottom: 18px;
}
