.keyvalue-table {
  display: table;

  .keyvalue-row {
    display: table-row;
  }

  .key-bigger {
    display: table-cell;
    padding-right: 3rem;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding-bottom: 15px;
  }

  .key-big {
    display: table-cell;
    padding-right: 3rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 3px;
  }

  .key-small {
    display: table-cell;
    padding-right: 0.75rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 1.5px;
  }

  .value-bigger {
    font-size: 20px;
    line-height: 110%;
    padding-bottom: 15px;
  }

  .value-big {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 3px;
  }

  .value-small {
    font-size: 14px;
    line-height: 150%;
    padding-bottom: 1.5px;
  }

  .value {
    display: table-cell;
    font-style: normal;
    font-weight: 400;

    a {
      text-decoration: none;
      color: var(--interactive-200, #1777F8);
      cursor: pointer;
    }

    a:hover {
      color: var(--interactive-200, #1777F8);
      text-decoration: underline;
      filter: brightness(1.25);
    }
  }
}
