.menu {
  position: absolute;
  margin-top: 32px;
  z-index: 2;
  background: white;
  height: auto;
  color: black;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
  font-weight: 500;
  list-style-type: none;
  padding-left: 0;
}

.menu--aligned {
  margin-left: var(--menu-align-left);
}

.menu > li {
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--fds-color-neutral-100, #cdcdd7);
  padding: 8px 12px;
  width: auto;
  white-space: nowrap;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu > li:hover {
  background-color: rgba(205,205,215,0.2);
}

.menu > li:before {
  display: none;
}
