.filter-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.filter-button {
  cursor: pointer;
  padding: 3px;
  transition: all 200ms;
  border: none;
  background: none;
  color: black;

  svg {
    width: 19px;
    margin-top: -3px;
  }
}

.filter-button:hover {
  color: #1777f8;
}

.filter-button-clicked {
  color: #1777f8;

  svg {
    stroke-width: 2 !important;
  }
}

#checkbox {
  appearance: none;
  margin-right: 20px;
  padding-bottom: 2.5px;
  padding-top: 2px;
}

label {
  position: relative;
  right: 7px;
}

label,
#checkbox::before {
  cursor: pointer;
}

#checkbox::before {
  content: '';
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: sub;
  border: 2px solid #000000;
  border-radius: 2px;
}

#checkbox:checked::before {
  border-color: #1777f8;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zLjM4Nzc2IDcuNDAzM0wwLjE0NjA2NiA0LjE2MTYxQy0wLjA0ODY4ODcgMy45NjY4NSAtMC4wNDg2ODg3IDMuNjUxMDggMC4xNDYwNjYgMy40NTYzMUwwLjg1MTM0OSAyLjc1MUMxLjA0NjEgMi41NTYyMyAxLjM2MTkgMi41NTYyMyAxLjU1NjY1IDIuNzUxTDMuNzQwNDEgNC45MzQ3NEw4LjQxNzc4IDAuMjU3Mzk0QzguNjEyNTQgMC4wNjI2Mzk0IDguOTI4MzMgMC4wNjI2Mzk0IDkuMTIzMDggMC4yNTczOTRMOS44MjgzNyAwLjk2MjY5NkMxMC4wMjMxIDEuMTU3NDUgMTAuMDIzMSAxLjQ3MzIyIDkuODI4MzcgMS42NjhMNC4wOTMwNiA3LjQwMzMyQzMuODk4MjkgNy41OTgwOCAzLjU4MjUxIDcuNTk4MDggMy4zODc3NiA3LjQwMzNWNy40MDMzWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
  background-color: #1777f8;
  background-repeat: no-repeat;
  background-position: center;
}
