
.sort-wrapper {
  display: inline-flex;
  flex-direction: column;
  margin-right: 0.15rem;
}

.sort-button {
  cursor: pointer;
  padding: 3px;
  margin: 0;
  transition: all 200ms;
  border: none;
  background: none;
  color: black;

  svg {
    width: 20px;
    stroke-width: 1.5;
  }

  .sorted {
    svg {
      stroke-width: 2 !important;
    }
  }
}

.sort-button:hover {
  color: #1777f8;
}

.sort-button-clicked {
  color: #1777f8;

  svg {
    stroke-width: 2 !important;
  }
}

.li-sort-icon {
  margin-right: 12px;
}

.li-sort-icon > svg {
  width: 18px;
  stroke-width: 1.5;
  color: black !important;
}
