.sort-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.sort-button {
  cursor: pointer;
  padding: 3px;
  margin: 0;
  transition: all 200ms;
  border: none;
  background: none;
  color: black;
}

.sort-button:hover {
  color: #1777f8;
}

.sort-button-clicked {
  color: #1777f8;
}

.menu {
  position: absolute;
  margin-top: 33px;
  margin-left: -7.5px;
  z-index: 2;
  background: white;
  height: auto;
  color: black;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.3);
  font-weight: 500;
  list-style-type: none;
  padding-left: 0;
}

.menu-aligned-right {
  // ......
  margin-left: -7.5px;
}

.menu-aligned-left {
  margin-left: -7.5px;
}

.menu > li {
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--fds-color-neutral-100, #cdcdd7);
  padding: 8px 12px;
  width: auto;
  white-space: nowrap;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu > li:hover {
  background-color: rgba(205,205,215,0.2);
}

.menu > li:before {
  display: none;
}

.li-sort-icon {
  margin-right: 14px;
}

.li-sort-icon > svg {
  width: 18px;
}
