.table-wrapper {
  display: block;
  overflow-x: auto;
}

table {
  display: table;
  width: 100%;
  //table-layout: fixed;
}

thead {
  border-bottom: 1px solid;
  //position: sticky;
  //position: -webkit-sticky;
  //top: 0;
}

tbody {
  width: 100%;
}

th {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding: 20px 20px 20px 0;
}

tr {
  a {
    text-decoration: none;
    color: var(--interactive-200, #1777F8);
    cursor: pointer;
  }

  a:hover {
    color: var(--interactive-200, #1777F8);
    text-decoration: underline;
    filter: brightness(1.25);
  }
}

td {
  padding: 12px 35px 12px 0;
  max-width: 400px;
  overflow-wrap: break-word;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
 // vertical-align: middle;
}

.row-expandable:hover {
  background: #E8E8E8; //#ddf4ff; //#a5d6ff // b6e3ff
  filter: brightness(1.05);
  cursor: pointer;
}

.row-expanded {
  background: #E8E8E8; //#ddf4ff; //#a5d6ff // b6e3ff
  margin-top: 32px;
  border-top: 1px solid #0c2d6b;
}

.expanded-content-container {
  //width: 100%;
  border-bottom: 1px solid #0c2d6b;
}

.expanded-content {
  //width: calc(100% - 50px);
  padding: 25px 45px;
}
