.table-wrapper {
  display: block;
  overflow-x: auto;
}

table {
  display: table;
  width: 100%;
}

.table-fixed {
  table-layout: fixed !important;
}

@media (max-width: 1440px) {
  .table-fixed {
    table-layout: auto !important;
  }
}

thead {
  border-bottom: 1px solid;
  //position: sticky;
  //position: -webkit-sticky;
  //top: 0;
}

tbody {
  width: 100%;
}

th {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding: 20px 25px 20px 0;
  border-collapse: collapse;
  white-space: nowrap;
}

.th-sortable {
  padding: 12px 25px 12px 0 !important;
}

tr {
  a {
    text-decoration: none;
    color: var(--interactive-200, #1777F8);
    cursor: pointer;
  }

  a:hover {
    color: var(--interactive-200, #1777F8);
    text-decoration: underline;
    filter: brightness(1.25);
  }
}

td {
  padding: 12px 25px 12px 0;
  overflow-wrap: break-word;
  max-width: 350px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.row-expandable:hover {
  background: #E8E8E8;
  filter: brightness(1.05);
  cursor: pointer;
}

.row-expanded {
  background: #E8E8E8;
  margin-top: 32px;
  border-top: 1px solid #0c2d6b;
}

.expanded-content-container {
  border-bottom: 1px solid #0c2d6b;
}

.expanded-content {
  padding: 1.5rem 2rem;
}

.expanded-icon {
  margin-left: 2px;
  margin-right: 10px;
}
