#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Public Sans';
}

a { text-decoration: none; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.app-layout {
    display: flex;
    flex-direction: column;
}

.sub-page {
    margin: 2rem 1.5rem;
}
