.card {
  margin-bottom: 0.7rem;
  width: fit-content;

  .title {
    font-weight: 700;
    margin-bottom: 3px;
    width: fit-content;
  }

  .content {
    margin-left: 1rem;
    width: fit-content;
  }
}
